*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #03696e;
    
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1200px;
	transform-style: preserve-3d;
    /* transform-origin: left bottom; */
}

.calculator{
    width: 270px;
    height: 420px;
    background-color: #f0f4fa;
    /* background-color: #e0e8f3; */
    border-radius: 15px;
    box-shadow:inset 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: all .2s;
}



.display_box{
    width: 98%;
    height: 55px;
    margin: 10px auto 8px;
}

.display_box input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: right;
    font-size: 20px;
    letter-spacing: 1px;
    color:#000;
    padding-right: 15px;
    border: none;
    outline: none;
    overflow-x: auto;
    background-color: #f6f6fd;
    /* background-color: #e0e8f3; */
    box-shadow: inset -5px -8px 10px 0px rgba(216, 215, 226, 0.3), 
    inset 5px 5px 8px 0px rgba(0, 0, 0, 0.3);
    
}

.name{
    width: 98%;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:end;
    margin-bottom: 8px;
    position: relative;
}
.name .viewBox{
    position: absolute;
    top: -2px;
    right: 2px;
    display: flex;
}
.name .viewBox span{
    color: #212121f1;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    user-select: none;
}

.name .heading{
    font-size: 16px;
    letter-spacing: 1.4px;
    color: #060047 ;
    text-shadow: 0 1.5px 4px #eeee;
    user-select: none;
}

.btn_container{
    width: 100%;
    height: max-content;
    margin: 5px auto;
    
}

.btn_container .row{
    width: 98%;
    height: max-content;
    margin: 5px auto;
    padding: 0 5px;
    /* border: 1px solid  #000; */
    
}

.btn_container .row button{
    width: 46px;
    height: 46px;
    border-radius: 8px;
    border: none;
    margin: 3px 4px;
    font-size: 20px;
    color:#212121;
    text-align: center;
    line-height: 46px;
    background-color: #f0f4fa;
    /* background-color: #e0e8f3; */
    transform: scale(1);
    box-shadow: -5px -4px 10px 0px rgba(255, 255, 255, 0.5), 3px 4px 10px 0px rgba(0, 0, 0, 0.3),
    inset 3px 4px 10px 0px rgba(0, 0, 0, 0.3), inset -5px -4px 10px 0px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s;
}

.btn_container .row button.clicked{
    color: magenta !important;
    box-shadow: -5px -4px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 15px 0px rgba(0, 0, 0, 0.233),
     inset 8px 8px 14px 0px rgba(0, 0, 0, 0.3), inset -8px -8px 14px 0px rgba(255, 255, 255, 0.5);
    transform: scale(0.95);
}

.btn_container .row button.operator{
    color: #0079FF;
    font-size: 22px;
}

.btn_container .row button.equal_btn{
    width: 105px;
    height: 46px;
    
}